* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clear {
    clear: both;
}

.row_header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.row_1 {
    background-color: rgb(41, 40, 40);
    min-height: 50px;
    padding: 0 90px;
    margin: 0;
    /*thanh header bi thu lai nen de nhu z*/
}

.row_1 ul {
    margin: 0;
}

.ul_left,
.ul_right {
    float: left;
    padding: 0;
}

.ul_left {
    width: 55%;
}

.ul_right {
    width: 45%;
}

.row_1 ul li {
    display: inline-block;
}

.row_1 li > a {
    display: block;
    text-decoration: none;
    color: white;
    padding-right: 5px;
    line-height: 50px;
}

.row_1 li>a:hover,
.row_2 li>a:hover {
    color: gray;
    transform: scale(1.05);
}

.row_1 li:last-child>a {
    border: none;
}

.row_1 img {
    width: 24px;
    padding-bottom: 5px;
}

.row_2 {
    background-color: rgb(235, 233, 233);
    height: 80px;
    max-width: 100%;
    padding: 0 !important;
    margin-left: 0;
    margin: 0 auto;
}

.row_2 #search:hover,
.row_2 #search2:hover{
    transform: scale(1) !important;
}

.row_2 .search,
.row_2 .search2  {
    width: 85%;
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin: 3px 0 0 5px;
}

.row_2 .search:focus,
.row_2 .search2:focus {
    outline: none;
}
/* 
.row_1 li:last-child>a {
    border: none;
}

.row_1 img {
    width: 24px;
    padding-bottom: 5px;
} */

.search2 {
    display: none;
}

/* .row_2 {
    background-color: rgb(235, 233, 233);
    height: 80px;
    max-width: 100%;
    padding: 0 !important;
    margin-left: 0;
    margin: 0 auto;
} */

.navbar-nav {
    width: 100%;
    margin: 0 auto;
    padding: 0 !important;
}

.nav-link {
    padding: 8px 0 !important;
}

.navbar-nav li:nth-child(1) {
    width: 16%;
}

img#logo-clockworld {
    width: 20% !important;
    height: 10% !important;
}

.navbar-nav li:nth-child(2) {
    width: 9%;
}

.navbar-nav li:nth-child(3) {
    width: 9%;
}

.navbar-nav li:nth-child(7) {
    width: 9%;
}

.navbar-nav li:nth-child(5) {
    width: 13%;
    padding-top: 0;
}

.navbar-nav li:nth-child(5) a {
    padding: 0 !important;
}

.navbar-nav li:nth-child(6) {
    width: 15%;
}

.navbar-nav li:nth-child(6) a {
    padding: 0 !important;
}

.navbar-nav li:nth-child(7) {
    width: 10%;
}

.navbar-nav li:nth-child(8) {
    width: 11%;
}

.navbar-nav li:nth-child(4),
.navbar-nav li:nth-child(9) {
    width: 7%;
}

.navbar-nav li:nth-child(10),
.navbar-nav li:nth-child(11) {
    width: 4%;
}

.dropdown-toggle::after {
    margin-left: -0.1rem;
    /*chinh khoang cach cua icon voi menu*/
}

.navbar-nav li>a, #li_address2 {
    color: black;
    font-weight: 500;
}

.menu_1 li a>img {
    width: 25px;
    padding-bottom: 2px;
}

.menu_1 {
    width: auto;
    /* height: 100%; */
    max-width: 100%;
    margin: 0 auto;
    padding-right: 10px;
}

.logo, .logo2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    padding: 0 8px !important;
}

.logo i, .logo2 i{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0;
}

.logo i{
    display: flex;
}

.logo2 {
    display: none;
}

#icon_cart,
#icon_account {
    width: 25px;
}

#icon_cart:hover,
#icon_account:hover {
    transform: scale(1.2);
}

.dropdown-menu {
    min-width: 80px !important;
    margin-top: -10px !important;
    margin-left: 30px;
    text-align: center;
}

.dropdown-menu::before {
    content: "";
    width: 15px;
    height: 15px;
    background-color: white;
    display: block;
    border-top: 1px solid rgb(177, 174, 174);
    border-left: 1px solid rgb(177, 174, 174);
    transform: rotate(45deg);
    margin-top: -16px;
    margin-left: 20px;
}

.dropdown-item:hover {
    background-color: transparent;
    /*khi hover vào thì backgrround biến mất*/
}

.row_3_1 .d-block.w-100, 
.row_3_2 .d-block.w-100, 
.row_3_3 .d-block.w-100{
    width: 100% !important;
    transform: translateX(-0%);
}

.row_3_1, .row_3_2, .row_3_3 {
    margin-top: 125px;
}

.row_3_1 img,
.row_3_2 img,
.row_3_3 img {
    height: 500px;
    /* width: 80% !important; */
    /* transform: translateX(13%); */
}

.row_3_1 .carousel-control-prev{
    transform: translateX(-30%);
}

.row_3_1 .carousel-control-next{
    transform: translateX(30%);
}


/* 
.row_3_2{
    padding-top: 30%;
    background: url("../img/bg_dongHoNu.jpg") top center / contain no-repeat ;
    margin-top: 125px;
} */


.row_4 {
    margin-top: 5px;
    height: auto;
}

.row_4 span {
    color: red;
}

.col_sidebar {
    min-height: 300px;
    /* background-color: aquamarine; */
    text-align: center;
}

.row_5 {
    height: auto;
    background-color: red;
}

.footer {
    background-color: black;
    height: auto;
    padding: 10px 0;
}

.row-con2 {
    height: auto;
    /*margin-bottom: 15px;*/
}

.row-con2 a {
    text-decoration: none;
}

.item {
    margin-bottom: 15px;
    font: 40px;
    color: white;
    text-align: center;
    min-height: 380px;
    border: 1px solid gray;
    background-color: rgb(196, 196, 196);
    border-radius: 10px;
    transition: 0.4s;
    background-color: rgba(255, 255, 255, 0.2);
}

.item:hover {
    transform: translateY(-5%);
    /*hieu ung hien len*/
    box-shadow: 0 0 10px rgb(119, 117, 117);
    border: none;
}

.item>.img {
    width: 100%;
    height: 226.53px;
    /* border: 1px solid black; */
}

.img>img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.row-con1 {
    min-height: 50px;
    color: white;
}

.row-con1>h3 {
    text-shadow: 0 0 2px black;
}

.row-con1>h3>span {
    text-shadow: none;
}

.col-main {
    min-height: 300px;
    background: linear-gradient(rgb(227, 227, 227), rgb(246, 244, 244));
}

.text-center h3 {
    font-size: 30px;
    margin-bottom: 0;
    line-height: 70px;
}

/* .col-lg-10.menu {
    height: 70px;
} */

.menu_1 ul li {
    display: inline-block;
    padding-top: 10px;
}

.li_logo{
    padding-top: 7px !important;
}

.logo,
.logo2 {
    padding-left: 0;
}

#li_address, #li_address2 {
    width: 90% !important;
    border: 1px solid;
    border-radius: 5px;
    line-height: normal;
    height: 60px;
    padding-top: 3% !important;
}

#li_address::before, #li_address2::before {
    width: 100%;
    content: "Địa điểm giao hàng";
    font-size: 10px;
    height: 15px;
}

#li_address2{
    display: none;
}

/* .menu_1 .menu,
.menu_1 ul {
    padding-left: 0;
}

.menu>ul {
    margin-bottom: 0;
    max-width: 100%;
    float: right;
} */

/* .menu_1 .logo {
    padding-right: 0;
}

.menu_cap1 {
    width: 1245px;
}

.menu_cap1>li {
    display: inline-block;
    position: relative;
}

.menu_cap1>li>a {
    line-height: 75px;
}

.menu_cap1 li a {
    display: block;
    font-size: 17px;
    margin-right: 15px;
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.menu_cap1 .menu_cap2 {
    position: absolute;
    top: 55px;
    display: none;
    width: 165px;
    height: auto;
    padding: 10px 0;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px gray;
    text-align: center;
}

.menu_cap2>li>a {
    margin-right: 0;
}

.menu_cap1 li:hover .menu_cap2 {
    display: block;
    text-align: center;
}

.menu_cap2::after {
    position: absolute;
    top: -8px;
    left: 35px;
    content: "";
    width: 18px;
    height: 20px;
    background-color: white;
    transform: rotate(45deg);
} */

.infor_home p {
    margin-bottom: 0;
    color: black;
}

.infor_home p:nth-child(3) {
    color: red;
    font-weight: 500;
}

.infor_home p:nth-child(4) {
    color: gray;
    text-decoration: line-through;
    /*tao dau gach ngang o giua chu*/
}

.infor_home sup {
    text-decoration: underline;
}

.infor_home p:nth-child(4),
.infor_home .sale_home {
    display: inline-block;
}

.infor_home .sale_home {
    font-size: 12px;
    background-color: rgb(245, 206, 193);
    padding: 0 3px;
    border-radius: 3px;
    color: red;
}

.icon_star>svg {
    color: yellow;
    font-size: 80%;
}


.footer h5 {
    color: yellow;
    margin-bottom: 15px;
}

.footer p {
    color: white;
    line-height: 20px !important;
    margin-bottom: 5px;
}

.col_footer1 span:hover, 
.col_footer2 a:hover,
.footer_contact a:hover,
.footer_contact2 p:hover{
    color: yellow;
}

.footer_contact img,
.footer_contact svg {
    width: 36px;
    height: 36px;
    margin-right: 10px;
    border: 1px solid;
    border-radius: 50%;
    padding: 5px;
    color: white;
}


.fa-brands {
    font-size: 30px;
    margin-right: 5px;
}

.col_footer2 a,
.footer_contact a  {
    text-decoration: none;
    color: white;
}

/*demo*/
.col_footer1{
    width: 20%;
}

.text_col_footer1{
    width: 100%;
    transform: translateX(15%);
}

.col_footer2{
    width: 25%;
}

.footer_contact{
    width: 15%;
}

.footer_contact2{
    width: 20%;
}

.text_footer_contact2{
    width: 100%;
    transform: translateX(10%);
}

.footer_img{
    width: 20%;
}

.footer_img img{
    width: 90%;
}

/*Modal*/
.close1 {
    padding: 0 10px;
    border: none;
    background: none;
    font-size: 30px;
}

.close {
    float: right !important;
    margin-bottom: 8px;
}

.modal {
    --bs-modal-margin: 15%;
}

.modal_header_css {
    height: 80px;
}

.modal_body_css select {
    width: 100%;
    height: 35px;
    padding-left: 5px;
}

.modal_body_css select:nth-child(2),
.modal_body_css select:nth-child(3) {
    margin-top: 15px;
}

.modal_footer_css .xac_nhan_css {
    width: 55%;
    margin: 10px auto;
    margin-bottom: 50px;
}

.col_sidebar .zalo {
    transform: rotate(270deg);
    position: fixed;
    bottom: 250px;
    right: 0;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 0 15px rgb(0, 106, 255);
    background-color: white;
    animation: zalo 0.2s linear infinite;
}

.col_sidebar img {
    width: 35px;
}

.col_sidebar .mes {
    position: fixed;
    bottom: 180px;
    right: 0;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 0 10px red;
    background-color: white;
    animation: mes 0.8s linear infinite;
}

.zalo>a,
.mes>a {
    font-size: 25px;
    color: black;
}

@keyframes mes {
    from {
        transform: scale(0.8);
    }

    to {
        transform: scale(1.1);

    }
}

@keyframes zalo {
    from {
        transform: rotate(270deg);
    }

    to {
        transform: rotate(290deg);
    }
}